<div class="col-10 offset-1 about">
  <h1>About</h1>


  <p>
    This app built by <a target="_blank" href="https://github.com/bsully1">Brandon Sullivan.</a>  A student web developer who is learning the skills needed to be a true computer engineer!
  </p>
  <br />
  <p>
    This is his first application as a student developer. 
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'image_fluid' %>
      <div>

    <div class="col-12 col-sm-7 off-sm-1">
      <h2 class="text-center">Brandon Sullivan</h2>
      <br />
      <p>
         Brandon Sullivan is a web developer who studied at UCF. He previously worked as a Kitchen Manager at a 4.5 million dollar coporate restaurant for 7 years. 
       </p>
      </div>
    </div>
    
</div>

<br class="clear" />

<br />

<br />

<br />

<br />
